/* Footer.css */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap');

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111; /* Dark background */
    height: 100px;
    border-top: 2px solid #00ffff; /* Neon cyan border */
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00ffff; /* Neon cyan color */
    padding-bottom: 10px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-link {
    text-decoration: none;
    color: #fff; /* White color for links */
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #00ffff; /* Neon cyan color on hover */
}

.footer-link i {
    margin-right: 5px;
}
