@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

/* Gradient background for the entire home component */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e0f7fa 0%, #f0fcff 50%, #ffffff 100%); /* Smoother gradient */
}

.center-column {
  text-align: center;
  color: #333; /* Dark text color for readability */
  font-family: 'Exo 2', sans-serif; /* Use Exo 2 font */
}

.profile-image {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.description {
  margin-top: 20px;
  font-size: 32px; 
  font-weight: 600;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #00ffff; /* Neon cyan */
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; /* Slightly longer typing effect */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ffff; }
}

.typing-effect {
  display: inline-block;
  animation: fadeIn 2.5s ease-in-out; /* Slightly faster fade-in */
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.tech-stacks {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tech-stack-icon {
  width: 50px; 
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
}

.tech-stack-icon:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); /* Glow effect on hover */
}

.resume-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px; 
  font-weight: 400; 
  font-family: 'Exo 2', sans-serif; 
  text-transform: uppercase;
  color: #00ffff; 
  background-color: #111; 
  border: 2px solid #00ffff; 
  border-radius: 8px; 
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s, text-decoration 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 1; 
}

.resume-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.resume-button:hover::after {
  width: 0;
  height: 0;
}

.resume-button:hover {
  border-color: #00ffff; 
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff; 
  text-decoration: underline;
  background-color: #222; 
}
