@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Gradient background for the entire home component */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e0f7fa 0%, #ffffff 30%); /* Subtle gradient accent at the top */
}

.center-column {
  text-align: center;
  color: #333; /* Dark text color for better readability */
}

.profile-image {
  width: 150px; /* Adjust the size as needed */
  height: 150px;
  border-radius: 50%; /* Make it circular */
}

.description {
  margin-top: 20px;
  font-size: 18px;
}

.tech-stacks {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tech-stack-icon {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  margin: 0 10px; /* Adjust the spacing between icons */
}

.resume-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px; /* Slightly larger for readability */
  font-weight: 400; /* Regular weight for a modern look */
  font-family: 'Exo 2', sans-serif; /* Use Exo 2 font */
  text-transform: uppercase;
  color: #00ffff; /* Neon cyan color */
  background-color: #111; /* Dark background to match the navigation */
  border: 2px solid #00ffff; /* Neon cyan border */
  border-radius: 8px; /* Make it rounder */
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s, text-decoration 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
  text-decoration: none; /* Remove underline */
  z-index: 1; /* Ensure the button is above the pseudo-elements */
}

.resume-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.resume-button:hover::after {
  width: 0;
  height: 0;
}

.resume-button:hover {
  border-color: #00ffff; /* Neon cyan border on hover */
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff; /* Neon cyan glow effect on hover */
  text-decoration: underline; /* Add underline on hover */
  background-color: #222; /* Slightly lighter dark background on hover */
}