.blog {
    width: 80%;
    margin: 0 auto;
  }
  
  .blog-list {
    display: flex;
    flex-direction: column;
  }
  
  .blog-list-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .blog-list-item h2 {
    margin: 0;
  }
  
  .blog-list-item p {
    margin: 4px 0;
  }
  
  .blog-post {
    padding: 16px;
  }
  
  .blog-post button {
    margin-bottom: 16px;
  }
  
  .blog-post h1 {
    margin: 0 0 16px;
  }
  
  .blog-post p {
    margin: 8px 0;
  }